@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fadeCycle {
    0%, 100% {
      opacity: 0;
    }
    10%, 50% {
      opacity: 1;
    }
    60%, 100% {
      opacity: 0;
    }
  }

  .animate-fadeCycle {
    animation: fadeCycle 5s linear infinite;
  }
}